@import 
      url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
                /*--------------------HEAD----------------------*/  
:root {
  
  font-family : 'Raleway', sans-serif;
  --background-color: #F2F2F2;
  --border-radius-search: 15px
       
}

div {
  border: 1px solid black;
  }
.visibility {
  visibility: hidden;
  }

