/*min-width: 768px) and (max-width: 1024px)*/ 

body{
  width: auto;  
}
.logo {
  width: 15%;
  
}
.header-nav{
   width: 57%;
   flex-wrap: nowrap;
   height: 6rem;
}
.header-nav :nth-child(3){
 /*background-color: red;/**/
   flex-grow: 1;
 
}
.header-nav :nth-child(1){
 /*background-color: green;*/
   flex-grow: 1;
}
.header-nav :nth-child(2){
 /*background-color: yellow;*/
   flex-grow: 1;
}
/*Recherche*/
.Search{
   width: 200%;
   margin-top: 3%;
   margin-left: -9.4%;
}
.Banner_Filtre {
	display: flex;
	flex-wrap: wrap;
}
.Banfiltre {	
	width: 28.3%;	
}
.Filtre {
	width: 19%;
}

.RO{
	margin-left: 19%;
}
/*hebergement*/
.global{
	flex-wrap: wrap-reverse;
}
.hebergements {
	
	width: auto;
}
.heberg{
    width: 48%;
}
.populaires{
    margin-top: 2%;
    width: 100%
}
.pop{
    width: 100%;
}
.padding {
  padding-left: 2.25%;
  padding-right: 2.25%;
}
.flex{
	width: auto;
	margin-left: -2%;
    margin-right: -2%;
}
.flex span {
	font-size: 70%;
	padding-left:4%
}

.marginstart{
	margin-bottom: 13%;
}
.marginlongchamp {
	margin-top: 1rem;
}
footer{	
  padding-top: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
}
.foo1{
	width: 32.5%;
}