@import 
      url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
                /*--------------------HEAD----------------------*/  
*
{
       font-family : 'Raleway', sans-serif;
       
}
/*general color*/
:root {

    --color-blue: #0065FC;
    --color-cylan: #DEEBFF;
    --color-gray: #F2F2F2;
    --color-white:#FFFFFF;
    --color-black:#000000;
}
/*Header*-logo-*/
body
{
  margin: 0;
}
#bloc_page {
 
   margin: 2.5% 2.5% 0 2.5%;
}
.logo
{
  width: 7%;
  padding-top: 1.03846154rem; 
}
.header a
{
 width: 43%;
 text-align: end;
 text-decoration: none;
 margin-bottom: -1.063rem;

}
.header a:hover
{
  color: var(--color-blue);
  border-top: 0.1875rem solid var(--color-blue);
}
nav .titre_s:hover {
  border-top: none;  
}
.titre_s{
  font-weight: bold;
  color: var(--color-blue);
}
.header-bar
{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.header-nav
{
 width: 30%;
 display:flex;
 justify-content: space-evenly;
 align-items: center;
}


 /*background-color*/
.Search i,.hebergements,.populaires,footer
{
    background-color: var(--color-gray);
}
#block_page,.heberg,.pop,.activitestexte
{
   background-color: var(--color-white);
}
nav a ,a,.menu,li
{
   color: var(--color-black);
   text-decoration: none;
   list-style-type: none;
}
nav a:hover 
{
   color: var(--color-blue);
   border-top: 0.1875rem solid var(--color-blue);
}
span
{
  font-weight: bold;
}
.normal
{
  font-weight: normal;
}
h2.visibility
{
  visibility:hidden;
}
content,h1
{
    font-size: 1.3875rem;
    margin-top: 0.630rem;
    margin-bottom: 2.205rem;
    padding-top: 2rem;
}
content,h3
{
    font-size: 1.3rem;
}
content,h2
{
  font-size: 0.991rem;
}
#icon-search
{
  display:none;
}
.Search{
  display: flex;
  margin-top: 2%;
  margin-left: -4.4%;
}
.Search i
{
    float: left; 
    display: flex;   
    justify-content: center;
    align-items: center;
    border-radius: 0.9375rem 0rem 0rem 0.9375rem;
    width: 3%;
    height: 2.5rem;    
}
.Search input 
{
    height: 2.5rem;
    border-left: 0em;
    border-bottom: 0.0625rem solid var(--color-gray);
    border-top: 0.0625rem solid var(--color-gray);
}
.Bouton
{
    color: #FFFFFF;
    background-color: var(--color-blue);
    width:6%;
    border-radius: 0rem 0.938rem 0.938rem 0rem;
    height: 2.5rem;
    cursor: pointer;
    display: inline-block;
    border: 0;
}
/*Filtre*/
.Banner_Filtre
{
  display: flex;
}
.Filtre 
{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 5rem;
}
.Banfiltre 
{
  height: 3.125rem;
  width: 13.3%;
  margin: 1.25rem 1.25rem 1.25rem 0;
  padding-right: 1.25rem;
  border: 0.15rem solid var(--color-gray);
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
}
.Banfiltre:hover
{
  color: var(--color-blue);
  cursor: pointer; 
  background-color: var(--color-cylan);  
}
.Banfiltre i 
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cylan);
  border-radius: 100%;
  width: 23%;
  height: 100%;
  color: var(--color-blue);
  margin-right: 0.625rem;
}
.Info 
{
    margin-top: 3rem;
    margin-bottom:  3rem;
    display: flex;
    align-items: center;
}
.Info span i
{
    width: 1.25rem;
    height: 1.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-blue);
    border:  0.19367333763718528rem solid var(--color-gray);
    border-radius: 3.125rem;
    position: relative;
    left: -0.1291155584247902rem;
    margin-right: 0.625rem;
}
/*Start*/
.blue i
{
  color:var(--color-blue);
  font-size: 0.7rem;
}
.blue .color-unset 
{
    color: var(--color-gray);
}

/* hebergements*/
.tophebergement
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.heberg {
    width: 30%;
    height: 18rem;
    border: 0.313rem solid white;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 3rem;
    box-shadow: 0rem 0rem 0.625rem 0.625rem rgba(242, 242, 242);
}
.imghebergements {
    border-top-left-radius: 1.0329244673983216rem;
    border-top-right-radius: 1.0329244673983216rem;
    object-fit: cover;
    height: 60%;
}
.hebergementstexte {
    color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
.affich
{
    display: flex;
    justify-content:start;
    align-items:flex-end;
    font-weight: bold;
    font-size: 1.1rem;
    margin:2.375rem 0rem 0rem 0.813rem;
}
/*.populairesglobal,*/
.hebergements
{
  border-radius: 1.875rem;
  width: 58%;  
}
.populaires
{
  width: 22%;
  border-radius: 1.875rem;
}
.padding {
  padding-left: 4.25%;
  padding-right: 4.25%;
}
.end
{
  padding-bottom: 3.20%;
}
.select {
    padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2rem;
  margin-left: 0.8rem;
}
.select
{
  font-size: 1.563rem;
}
/*pop1-*/
.pop 
{ 
  width: 100%;
  height: 13.020833333333334rem;
  border-radius: 1.25rem;
  display: flex;
  margin-top: 3rem;
} 
.popimg { 
   width: 52%;
   height: 95%;
   margin: 0;
   padding:  0.3255208333333333rem;
   object-fit: cover;
   border-top-left-radius: 1.25rem;
   border-bottom-left-radius: 1.25rem;
}
.texte { 
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-left: 3%;
}
.global {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;    
}
#Activites{
  margin-top:-5%;
}
.activite-titre{
  margin-left:0%;
  margin-bottom: 1%;
}
/*activités*/
.flex div
{
  width: 22.5%;
    margin-left: 3.125rem;
  box-shadow: 0rem 0.313rem 1.125rem 0.438rem rgb(242, 242, 242);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 1.375rem;
    border-top-right-radius: 1.375rem;
}
.flex span{ 
  margin-left:5%;
} 

.flex{
  display:flex;
  flex-wrap:wrap;
  height:31.25rem;
  margin: 1.5%;
  flex-direction:column;
  justify-content:space-between;  
}
.flex img
{ 
  object-fit: cover;
}
/*Vieux Port*/
.flex div:nth-child(1){
  height:31.25rem;
    margin-left: -1.438rem; 
}
.port{  
  height: 27.5rem;
  width:  100%;
    /*margin-left:0;*/
}
/*pomegues*/
.flex div:nth-child(2){
  height: 13.313rem;  
}
.small{
  height: 9.375rem;
  width:  100%; 
}
/*Frioul*/
.flex div:nth-child(3){
  height: 11.563rem ;
}
.xs{
  height: 7.875rem;
  width:  100%;
}
/*col2*/
/*calanques*/
.flex div:nth-child(4){
  height:31.25rem;    
}
.cal{ 
  height: 27.5rem;
  width:  100%;    
}
/*notre dame*/
.flex div:nth-child(5){
  height: 16.375rem;  
}
.nddlg{
  height: 12.313rem;
  width:  100%;
}
/*lonchamp*/
.flex div:nth-child(6){
  height: 13.125rem ;    
}
.longchamp{
  height: 9.438rem;
    width: 100%;
}
.flex img
{
  border-top-left-radius: 1.375rem;
  border-top-right-radius: 1.375rem;
  object-fit: cover;
}

/*Footer*/
footer {
  padding: 2.6rem 2rem 1rem 2.4rem;
  display: flex;
  height: 13.25rem;
  width: 100%;
  margin-top: 4%;
}
.foo1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;
    line-height: 2rem;
    width: 32%;
    text-decoration: none;
    color:var(--color-black)
}
.footergras {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.foo1 a {
    text-decoration: none;
    color:var(--color-black)
}
/*FIN*/