@import 
      url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
                /*--HEAD--*/  
:root {
  
  font-family : 'Raleway', sans-serif;
  /*--background-color: #F2F2F2;
  --border-radius-search: 15px;
  blue:#0065fc*/
}

.logo {
    height: 3vw;
    margin-top: 2vw;
    margin-left: 3vw;
}

header {
    padding-bottom: 1vw;
    /*height: unset;*/
  }
  .visibility {
  visibility: hidden;
  }
.RevNav {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: -46px;
}
.Menu {
    display: flex;
    padding: 0;
    justify-content: space-around;
}
.Menu li
{
    list-style: none;
    text-align: center;
    border-top: 3px solid #F2F2F2;
    padding-bottom: 4vw;
}
.Menu li:hover
{
    border-top: 3px solid #0065fc;
}
.Menu li a
{
    color: black;
    text-decoration: none;

} 
.Login a
 {
    float: right;
    margin-right: 7vw;
    color: #0065fc;
    font-weight: bold;
    /*text-decoration: none;*/
}
.Menu {
    flex-direction: unset;
    justify-content: flex-end;
}
/*.Menu {
    width: 100%;
    top: 0;
    position: absolute;
}
