@import 
      url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
                /*--------------------HEAD----------------------*/  
*
{
       font-family : 'Raleway', sans-serif;
       

}
/*general color*/
:root {

    --color-blue: #0065FC;
    --color-cylan: #DEEBFF;
    --color-gray: #F2F2F2;
    --color-white:#FFFFFF;
    --color-black:#000000;

}
/*Header*-logo-*/
header
{
  display: flex;


}
body
{
  margin: 0;
}
#bloc_page {
 
   margin: 2.5% 2.5% 0 2.5%;
   width: 1503.87px;
}
img.logo
{

  margin: 0.625rem;
  padding: 1.5625rem;
  height: 3.125vw;
  
}
nav ul
{
  display: flex;
  align-items: center;
  margin:0vw 0.315vw 2em 42em;
  width: 40vw;
  height: 5vw;
  float: right;
  justify-content: space-around;
 }
 /*background-color*/
.Search i,.hebergements,.populaires,footer
{
    background-color: var(--color-gray);
}
#block_page,.heberg,.pop,.activitestexte
{
   background-color: var(--color-white);
}

nav a ,a,.menu,li
{
   color: var(--color-black);
   text-decoration: none;
   list-style-type: none;

}
nav a:hover 
{
   color: var(--color-blue);
   border-top: 0.1875rem solid var(--color-blue);
}
span
{
  font-weight: bold;
}
.normal
{
  font-weight: normal;
}
h2.visibility
{
  visibility:hidden;
}
content,h1
{
    font-size: 1.3875rem;
    margin-top: 0.630vw;
    margin-bottom: 2.205vw;
}

content,h3
{
    font-size: 1.3rem;
   
}
content,h2
{
  font-size: 0.991rem;
}
.Search i
{
    float: left; 
    display: flex;   
    justify-content: center;
    align-items: center;
    border-radius: 0.9375vw 0rem 0rem 0.9375vw;
    width: 2.5vw;
    height: 2.5vw;
    color: var(--color-black);
}
.Search input 
{
    height: 2.5vw;
    border-left: 0em;
    border-bottom: 0.0625vw solid var(--color-gray);
    border-top: 0.0625vw solid var(--color-gray);
}
.Bouton
{
    color: #FFFFFF;
    background-color: var(--color-blue);
    width: 8.7%;
    border-radius: 0rem 0.938rem 0.938rem 0rem;
    height: 2.5vw;
    cursor: pointer;
    display: inline-block;
    border: 0;

}

/*Filtre*/
.Banner_Filtre
{
  display: flex;
 

}
.Filtre 
{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 5vw;
}
.Banfiltre 
{
  height: 3.125vw;
  width: 13.3%;
  margin: 1.25vw 1.25vw 1.25vw 0;
  padding-right: 1.25vw;
  border: 0.15vw solid var(--color-gray);
  border-radius: 3.125vw;
  display: flex;
  align-items: center;
}
.Banfiltre:hover
{
  color: var(--color-blue);
  cursor: pointer; 
  background-color: var(--color-cylan);
  
}

.Banfiltre i 
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-cylan);
  border-radius: 100%;
  width: 3.125vw;
  height: 3.125vw;
  color: var(--color-blue);
  margin-right: 0.625vw;
}
.Info 
{
    margin-top: 3vw;
    margin-bottom:  3vw;
    display: flex;
    align-items: center;
}
.Info span i
{
    /*font-size: 0.6rem;*/
    width: 1.25vw;
    height: 1.25vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--color-blue);
    border:  0.19367333763718528vw solid var(--color-gray);
    border-radius: 3.125vw;
    position: relative;
    left: -0.1291155584247902vw;
    margin-right: 0.625vw;
}
/*Start*/
.blue i
{
  color:var(--color-blue);
  font-size: 0.7rem;
}
.blue .color-unset 
{
    color: var(--color-gray);
}

/* hebergements*/
.tophebergement
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.heberg {
    width: 30%;
    height: 18vw;
    border: 0.313rem solid white;
    border-radius: 1.25vw;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-top: 3vw;
    box-shadow: 0px 0px 0.625vw 0.625vw rgba(242, 242, 242);
}
.imghebergements {
    border-top-left-radius: 1.0329244673983216vw;
    border-top-right-radius: 1.0329244673983216vw;
   
    height: 60%;
}
.hebergementstexte
{
    height: auto;
   

}

.hebergementstexte {
    color: black;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
/*  width: 200px;
  height:200px;
}*/

.affich
{
    display: flex;
    justify-content:start;
    align-items:flex-end;
    font-weight: bold;
    font-size: 1.1rem;
    margin:2.375rem 0rem 0rem 0.813rem;
}

/*okokok populaires*/
/*.populairesglobal,*/
.hebergements
{
  border-radius: 1.875rem;
  width: 58%;
  
}
.populaires
{
  width: 22%;
  border-radius: 1.875rem;
}
.padding {
    padding-left: 4vw;
    padding-right: 4vw;
}
.end
{
  padding-bottom: 3vw;
}

.select {
    padding-top: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.select
{
  font-size: 1.563rem;
}
/*pop1-*/
.pop 
{ 
  width: 100%;
  height: 13.020833333333334vw;
  border-radius: 1.25vw;
  display: flex;
  margin-top: 3vw;

} 
.popimg { 
   width: 52%;
   height: 95%;
   margin: 0;
   padding:  0.3255208333333333vw;
   object-fit: cover;
   border-top-left-radius: 1.375vw;
   border-bottom-left-radius: 1.375vw;
}
.texte { 
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1vw;
}
.texte strong
{
  margin: 0;
  font-size: 0.9rem;
  
}
.global {
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    
}
/*activités*/
.flex 
{
  display: flex;
  width: 93.75vw;
  height: 37.5vw;
}

.activtitre
{
  box-shadow: 0rem 0.313rem 1.125rem 0.438rem rgb(242, 242, 242);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1.375rem;
  border-top-right-radius: 1.375rem;

}
.activtitre img
{
  border-top-left-radius: 1.375rem;
  border-top-right-radius: 1.375rem;
  object-fit: cover;
}
.flex span
{
 padding-left:10%; 

}

/*vieux Port*/
/*img*/
.full 
{ 
  height: 88%;
  width: 100%;
}

/*txt*/
.marginstart
{
 
 margin-bottom: 4%;
 width: 39%;

}
.marg2
{
  width: 39%;
}
/*column2*/
.activcolumn2
{
  margin-left: 3%;
  width: 39%;
}

/*Fort de Pomègues*/
/*img*/
.small
{
  height: 75%;
  width: 100%;
}
/*txt*/
.pomegues
{
 
  height: 42%;
  width: 100%;
  
}
/*iles du Frioul*/
/*img*/
.xs
{
  height:68%;
  width:100%;
}
/*txt*/
.frioul
{
  
  height: 33%;
  margin-top: 26%;
  width: 100%;
}
.marg2
{
 margin-left: 3%; 
}
 /*notre dame de la garde*/
 /*img*/
.nddlg
{
  height: 69%;
  width: 100%;
 
}
/*txt*/
.marginnotredame
{
   
   height: 35%;
   width: 100%
}
/*Longchamps*/
/*img*/
.longchamp
{
  height: 77.8%;
  width: 100%;
 
}
/*txt*/
.marginlongchamp
{
  
  margin-top: 15%;
  height: 46%;
  width: 100%;
}

/*Footer*/

footer{
    padding: 3vw 0 1vw 8vw;
    display: flex;
    width: auto;
    height: 11.25vw;
   


}

.foo1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
    line-height: 2vw;
    width: 34%;
    text-decoration: none;
    color:var(--color-black)
}
.footergras {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1vw;
    
}

.foo1 a {
    text-decoration: none;
    color:var(--color-black)
}