                </*!---- iPhone 6+, 7+ and 8+ 
        <link rel="stylesheet" media="only screen and 
        (min-width: 414px) and (max-width: 736px)"href="./css/style-small.css"*/>
body
{
  margin: auto;
}
#bloc_page 
{
 
   margin: auto;
   width: 480px;
   
}
img.logo{
  margin: 0rem;
  padding: 1.2rem;
  height: 10.125vw;  
}
content,h1{
   font-size: 21px;
   margin-top: 0.63vw;
   margin-bottom: 2.205vw;
   margin-left: 15px;
}
nav ul {
   margin: 27vw 0vw 4em -5em;
   width: 0vw;
   height: 0vw;
}
.titre_s
{
	display: flex;
	padding-bottom: 150px;
	color:var(--color-blue);
	font-weight: bold;
}
.titre_h
{
	padding-left: 157px;
}	
	
.titre_a
{
	padding-left: 140px;
	
}

nav a:hover {
    
    border-bottom: 0.1875rem solid var(--color-blue);
    border-top:none;
}
  .titre_s:hover
{
    border-bottom:none;
}
  /*Content*/
  .content a
{
    margin-left: 15px;
    font-size: 14px;
}
  .Search
{
    
    height: 100px;
    margin-left: 45px;
}
  .Search i
{
    
    border-radius: 3.938vw 0rem 0rem 3.938vw;
    width: 12%;
    height: 42%;
    margin-left: -14px;
}
  .Search input 
{
    height: 42%;
    
}
  .Bouton
{
    width: 20%;
   /* border-radius: 0.93rem 0.93rem 0.93rem 0.93rem;*/
    height: 42%;
}  
/*Filtre*/
  .Filtre
{
  margin-left: 27px;
  width: 375px;
}
  .Banner_Filtre
{  
  flex-wrap: wrap;
}
  .Banfiltre
{
  width: 189px;
  height: 41px;
  border-radius: 23px;
  border: 2px solid var(--color-gray);
}
  .Banfiltre i 
{
  width: 46px;
  height: 45px;
}
  .content, h2
{
  padding-left: 7px;
  padding-top: 1px
}
  .EC
{
  width: 174px;
  margin-left: 27px;
}
  .FA
{
  width: 150px;
  margin-left: 15px;
}
  .RO
{
  width: 160px;
  margin-left: 27px;
 
}
  .AN
{
  width: 250px;
  margin-left: 27px;
}
/*info*/
.Info 
{
    margin-top: 8vw;
    margin-bottom: 8vw;
    
}
.Info span i
{
    
    width: 6.25vw;
    height: 6.25vw;
    margin-left: 27px;
}
.normal
{
  margin-left: 10px;
  width: 300px;
  font-weight: 250;
}
/*populaires-Hebergements*/
.global
{
  flex-direction: column;
}