                /*!---- iPhone 6+, 7+ and 8+ 
        <link rel="stylesheet" media="only screen and 
        (min-width: 414px) and (max-width: 736px)"href="./css/style-small.css"*/
body
{
  margin: auto;
}
#bloc_page 
{
 
   margin: auto;
   width: 414px;
   
}
img.logo{
  margin: 0rem;
  padding: 1.2rem;
  height: 10.125vw;  
}
content,h1{
   font-size: 21px;
   margin-top: 0.63vw;
   margin-bottom: 2.205vw;
   margin-left: 15px;
}
nav ul {
   margin: 27vw 0vw 4em -5em;
   width: 0vw;
   height: 0vw;
}
.titre_s
{
	display: flex;
	padding-bottom: 150px;
	color:var(--color-blue);
	font-weight: bold;
  
}
.titre_h
{
	padding-left: 157px;
}	
	
.titre_a
{
	padding-left: 140px;
	
}

nav a:hover {
    
    border-bottom: 0.1875rem solid var(--color-blue);
    border-top:none;
}
  .titre_s:hover
{
    border-bottom:none;
}
  /*Content*/
  .content a
{
    margin-left: 15px;
    font-size: 14px;
}
  .Search
{
    
    height: 100px;
    margin-left: 45px;
}
  .Search i
{
    
    border-radius: 3.938vw 0rem 0rem 3.938vw;
    width: 12%;
    height: 42%;
    margin-left: -14px;
}
.Search input 
{
    border-right-width: 0px;
    border-bottom: 0.0625vw solid var(--color-gray);
    border-top: 0.0625vw solid var(--color-gray);
}
  .Bouton
{
  display: none;

}  
  .Search input 
{
    height: 42%;
    
}
#icon-search
{
  display: block;
  margin: -42px auto auto 204px;
  background-color: var(--color-blue);
  height: 28px;
  width: 31px;
  padding-left: 14px;
  padding-top: 14px;
  color:var(--color-white);
  border-radius: 15px;
  margin-left: 207px;
} 

.Bouton
{
    width: 20%;
    height: 42%;
}  
/*Filtre*/
  .Filtre
{
  margin-left: 27px;
  width: 375px;
}
  .Banner_Filtre
{  
  flex-wrap: wrap;
}
  .Banfiltre
{
  width: 189px;
  height: 41px;
  border-radius: 23px;
  border: 2px solid var(--color-gray);
}
  .Banfiltre i 
{
  width: 46px;
  height: 45px;
}
  .content, h2
{
  padding-left: 7px;
  padding-top: 1px
}
  .EC
{
  width: 174px;
  margin-left: 27px;
}
  .FA
{
  width: 150px;
  margin-left: 15px;
}
  .RO
{
  width: 160px;
  margin-left: 27px;
 
}
  .AN
{
  width: 250px;
  margin-left: 27px;
}
/*info*/
.Info 
{
    margin-top: 8vw;
    margin-bottom: 8vw;
    
}
.Info span i
{
    
    width: 6.25vw;
    height: 6.25vw;
    margin-left: 27px;
}
.normal
{
  margin-left: 10px;
  width: 300px;
  font-weight: 250;
}
/*populaires-Hebergements*/
.global
{
  flex-direction: column;
}
.populaires
{
 width: 90vw;
 border-radius: 0;
}
.pop 
{ 
  border-radius: 6.25vw;
  margin-top: 3vw;
  height: 42.021vw;


} 
.popimg 
{ 
   border-top-left-radius: 6.25vw;
   border-bottom-left-radius: 6.25vw;
   padding-top: 1.326vw;
   padding-bottom: 1.326vw;
   padding-left: 1.326vw;
   height: 94%;
  
}
.texte 
{ 
   width: 49%;
   justify-content: center;
   margin-left: 5vw;
   height: 41vw;
} 
.blue
{
  margin-top:-3vw;
}
/*hebergements*/
.hebergements
{
  border-radius: 1.875rem;
  width: 58%;
  background: var(--color-white);
  margin-left: 25px;
 
}
.tophebergement
{
  flex-direction: column;
}
.heberg {
    width: 130%;
    height: 52vw;
    border: 0.313rem solid white;
    border-radius: 4.25vw;
    box-shadow: 0rem 0.313rem 1.125rem 0.438rem rgb(242, 242, 242);
    
}
.imghebergements {
    border-top-left-radius: 3.25vw;
    border-top-right-radius: 3.25vw;
    height: 30vw;
}
/*activités*/
.flex 
{
 flex-direction: column;
 height: 326vw;
 justify-content: space-around;
 margin-left: 25px;
}
.select
{
 
 width: 244px;
 margin: 2px auto 37px 29px;
}
/*.port{
  margin-left: 25px;
}*/
.activtitre
{
  box-shadow: 0rem 0.313rem 1.125rem 0.438rem rgb(242, 242, 242);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1.375rem;
  border-top-right-radius: 1.375rem;

}
.activtitre img
{
  height: 150px;
  width: 338px;
}
.marginstart
{
    margin-bottom: 7%;
    margin-left: 3%;
    width: 338px;
}
.marg2 {
    
    margin-block: 30px;
}
.nddlg
{
  height: 69%;
  width: 100%;
}
.pomegues {
    height: 47%;
    width: 224%;
}
.frioul
{  
  height: 47%;  
  width: 224%;
  margin-top: 18%;
}
.marginlongchamp 
{
    margin-top: 21%;
    height: 47%;
    width: 224%;
}
.marginnotredame {
    height: 46%;
    width: 226%;
} 
/*.activtitre img
{
  margin-top: -26px;

}*/
footer
{
  flex-direction: column;
  height: 100vw;
  margin-top: 93px;
}
.foo1
{
  margin-bottom: 10vw;
  line-height: 2vw;
  width: 64%;

}
.foo1 a {
  margin-top: 5vw;
}