@import 
      url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');
                /*--HEAD--*/  
:root {
  
  font-family : 'Raleway', sans-serif;
  --background-color: #F2F2F2;
  --border-radius-search: 15px;
  
  --color-blue:#0065fc;
       
}
body {
    color: black;
}

/*div {
  border: 1px solid black;
  }
.visibility {
  visibility: hidden;
  }
/*logo*/
.logo {
    height: 3vw;
    margin-top: 2vw;
    margin-left: 3vw;
}

header {
    padding-bottom: 1vw;
    height: unset;
    /*height: 7vw;*/
}
/*menu nav header*/
/*.RevNav 
{
    display: flex;
    width: 100%;
    top: 0;
    position: absolute;
    justify-content: flex-end;
}
.M
{
    
    color: var(--color-blue);
}*/
/*.RevNav li {
   list-style: none;
    width: 50%;
    text-align: center;
    border-bottom: var(--background-color) 3px solid;
    padding-bottom: 4vw;
}

.RevNav li:hover {
    border-bottom: var(--color-primary) 3px solid;
}
.Menu 
{
    margin: 0;
    align-items: center;

    display: flex;
    padding: 0;
    justify-content: space-around;

}

.RedNav li a {
    color: black;   

} /*   
p .inscription
{
    margin-right: 15vw;
    padding-top: 2vw;
}
.inscription, .Menu li a
 {
    font-size: 1.1rem;
 }*/
 .RedNav 
 {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    top: -46px;
}